{% extends 'base.html' %}  <!it connect to the base html and this html for use block content>

{% load static %}

{% block content %} <! with block content we add this file codes to the base html file between bloc content tags>
<! like copy these codes to the base html file ' s (blogapp/templtes/base.html) body tags part (between block content part and end block)>

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            {% include 'partials/_categories.html' %}
        </div>
        <div class="col-9">
            <div class="card mb-3">
                <div class="row"> 
                    <div class="col-md-3">
                        <img src="{{ blog.image.url }}"alt="" class = "img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="car-body">
                            <h5 class = "card-title">   
                                <a  href="{% url 'blog_details' blog.slug %}">
                                    {{ blog.title }}
                                </a>
                            </h5>
                            <p class = "card-text"> {{ blog.decription|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>

{% endblock %}
